@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

main {
    max-width: 60vw;
    margin-inline: auto;
    padding-top: 2rem;
}

h1 {
    text-align: center;
    color: #e53170;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

span {
    display: block;
}

.introduction {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.card {
    position: relative;
    background-color: #0f0e17;
    width: calc(100% / 3 - 2rem);
    margin: 0 1rem 3rem;
    float: left;
    box-shadow: 2px 2px 6px rgb(110, 110, 110);
}

.card::after {
    content: "";
    clear: both;
    display: block;
}

.card img {
    float: left;
    width: 6rem;
    margin-right: 1rem;
}

.personal_data { /* centratura div */
    position: absolute;
    min-width: 90%;
    top: 50%;
    left: 7rem;
    transform: translate(0, -50%);
}

.name {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.profession {
    color: white;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.email {
    color: #45ccf2;
}